
*.xcuserstate

NDFace.xcworkspace/xcuserdata/mwillmor.xcuserdatad/UserInterfaceState.xcuserstate

NDFace.xcworkspace/xcuserdata/mwillmor.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xccheckout

*.xcscheme

*.xccheckout

*.xccheckout

Pods/Pods.xcodeproj/xcuserdata/hanrahan.xcuserdatad/xcschemes/xcschememanagement.plist

NDFace.xcodeproj/xcuserdata/hanrahan.xcuserdatad/xcschemes/xcschememanagement.plist

NDFace.xcodeproj/project.xcworkspace/xcshareddata/NDFace.xccheckout

NDFace.xcodeproj/project.xcworkspace/xcshareddata/NDFace.xccheckout

NDFace.xcworkspace/xcuserdata/flynn.xcuserdatad/UserInterfaceState.xcuserstate
